Chargement des fichiers csv

In [1]:
import pandas as pd

df_details = pd.read_csv('details.csv')
df_ratings = pd.read_csv('ratings.csv')

Aperçu des données

In [2]:
df_details.head()

,num,id,primary,description,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,...,boardgamefamily,boardgameexpansion,boardgameimplementation,boardgamedesigner,boardgameartist,boardgamepublisher,owned,trading,wanting,wishing
0,0,30549,Pandemic,"In Pandemic, several virulent diseases have br...",2008,2,4,45,45,45,...,"['Components: Map (Global Scale)', 'Components...",['Pandemic: Gen Con 2016 Promos – Z-Force Team...,"['Pandemic Legacy: Season 0', 'Pandemic Legacy...",['Matt Leacock'],"['Josh Cappel', 'Christian Hanisch', 'Régis Mo...","['Z-Man Games', 'Albi', 'Asmodee', 'Asmodee It...",168364,2508,625,9344
1,1,822,Carcassonne,Carcassonne is a tile-placement game in which ...,2000,2,5,45,30,45,...,"['Cities: Carcassonne (France)', 'Components: ...","['20 Jahre Darmstadt Spielt', 'Apothecaries (f...","['The Ark of the Covenant', 'Carcassonne für 2...",['Klaus-Jürgen Wrede'],"['Doris Matthäus', 'Anne Pätzke', 'Chris Quill...","['Hans im Glück', '999 Games', 'Albi', 'Bard C...",161299,1716,582,7383
2,2,13,Catan,"In CATAN (formerly The Settlers of Catan), pla...",1995,3,4,120,60,120,...,"['Animals: Sheep', 'Components: Hexagonal Tile...","['20 Jahre Darmstadt Spielt', 'Brettspiel Adve...","['Baden-Württemberg Catan', 'Catan Geographies...",['Klaus Teuber'],"['Volkan Baga', 'Tanja Donner', 'Pete Fenlon',...","['KOSMOS', '999 Games', 'Albi', 'Asmodee', 'As...",167733,2018,485,5890
3,3,68448,7 Wonders,You are the leader of one of the 7 great citie...,2010,2,7,30,30,30,...,"['Ancient: Babylon', 'Ancient: Egypt', 'Ancien...","['7 Wonders: Armada', '7 Wonders: Babel', '7 W...","['7 Wonders (Second Edition)', '7 Wonders Duel...",['Antoine Bauza'],"['Dimitri Chappuis', 'Miguel Coimbra', 'Etienn...","['Repos Production', 'ADC Blackfire Entertainm...",120466,1567,1010,12105
4,4,36218,Dominion,"&quot;You are a monarch, like your parents bef...",2008,2,4,30,30,30,...,"['Crowdfunding: Wspieram', 'Game: Dominion', '...","['Ancient Times (fan expansion for Dominion)',...","['Dominion (Second Edition)', 'Het Koninkrijk ...",['Donald X. Vaccarino'],"['Matthias Catrein', 'Julien Delval', 'Tomasz ...","['Rio Grande Games', '999 Games', 'Albi', 'Bar...",106956,2009,655,8621

In [3]:
df_ratings.head()

,num,id,name,year,rank,average,bayes_average,users_rated,url,thumbnail
0,105,30549,Pandemic,2008,106,7.59,7.487,108975,/boardgame/30549/pandemic,https://cf.geekdo-images.com/S3ybV1LAp-8SnHIXL...
1,189,822,Carcassonne,2000,190,7.42,7.309,108738,/boardgame/822/carcassonne,https://cf.geekdo-images.com/okM0dq_bEXnbyQTOv...
2,428,13,Catan,1995,429,7.14,6.970,108024,/boardgame/13/catan,https://cf.geekdo-images.com/W3Bsga_uLP9kO91gZ...
3,72,68448,7 Wonders,2010,73,7.74,7.634,89982,/boardgame/68448/7-wonders,https://cf.geekdo-images.com/RvFVTEpnbb4NM7k0I...
4,103,36218,Dominion,2008,104,7.61,7.499,81561,/boardgame/36218/dominion,https://cf.geekdo-images.com/j6iQpZ4XkemZP07HN...

In [4]:
df_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21631 entries, 0 to 21630
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   num                      21631 non-null  int64
 1   id                       21631 non-null  int64
 2   primary                  21631 non-null  object
 3   description              21630 non-null  object
 4   yearpublished            21631 non-null  int64
 5   minplayers               21631 non-null  int64
 6   maxplayers               21631 non-null  int64
 7   playingtime              21631 non-null  int64
 8   minplaytime              21631 non-null  int64
 9   maxplaytime              21631 non-null  int64
 10  minage                   21631 non-null  int64
 11  boardgamecategory        21348 non-null  object
 12  boardgamemechanic        20041 non-null  object
 13  boardgamefamily          17870 non-null  object
 14  boardgameexpansion       5506 non-null   object
 15  boardgameimplementation  4862 non-null   object
 16  boardgamedesigner        21035 non-null  object
 17  boardgameartist          15724 non-null  object
 18  boardgamepublisher       21630 non-null  object
 19  owned                    21631 non-null  int64
 20  trading                  21631 non-null  int64
 21  wanting                  21631 non-null  int64
 22  wishing                  21631 non-null  int64
dtypes: int64(13), object(10)
memory usage: 3.8+ MB

In [5]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21831 entries, 0 to 21830
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   num            21831 non-null  int64
 1   id             21831 non-null  int64
 2   name           21831 non-null  object
 3   year           21831 non-null  int64
 4   rank           21831 non-null  int64
 5   average        21831 non-null  float64
 6   bayes_average  21831 non-null  float64
 7   users_rated    21831 non-null  int64
 8   url            21831 non-null  object
 9   thumbnail      21825 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 1.7+ MB

In [6]:
df_details.describe(include='all')

,num,id,primary,description,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,...,boardgamefamily,boardgameexpansion,boardgameimplementation,boardgamedesigner,boardgameartist,boardgamepublisher,owned,trading,wanting,wishing
count,21631.000000,21631.000000,21631,21630,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,...,17870,5506,4862,21035,15724,21630,21631.000000,21631.000000,21631.000000,21631.000000
unique,NaN,NaN,21236,21615,NaN,NaN,NaN,NaN,NaN,NaN,...,11285,5264,4247,9136,9080,11265,NaN,NaN,NaN,NaN
top,NaN,NaN,Robin Hood,How could that have happened? Black Stories ar...,NaN,NaN,NaN,NaN,NaN,NaN,...,['Crowdfunding: Kickstarter'],"['Funkoverse Strategy Game: Aggretsuko 100', '...",['Fluxx'],['(Uncredited)'],['(Uncredited)'],['(Self-Published)'],NaN,NaN,NaN,NaN
freq,NaN,NaN,6,4,NaN,NaN,NaN,NaN,NaN,NaN,...,682,18,35,1432,287,262,NaN,NaN,NaN,NaN
mean,10815.000000,118133.093847,NaN,NaN,1986.094910,2.007027,5.709491,90.509177,63.647774,90.509177,...,NaN,NaN,NaN,NaN,NaN,NaN,1487.924553,43.585965,42.030373,233.655587
std,6244.476172,105310.419253,NaN,NaN,210.042496,0.688957,15.102385,534.826511,447.213702,534.826511,...,NaN,NaN,NaN,NaN,NaN,NaN,5395.077773,102.410851,117.940355,800.657809
min,0.000000,1.000000,NaN,NaN,-3500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,5407.500000,12280.500000,NaN,NaN,2001.000000,2.000000,4.000000,25.000000,20.000000,25.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,5.000000,3.000000,14.000000
50%,10815.000000,105187.000000,NaN,NaN,2011.000000,2.000000,4.000000,45.000000,30.000000,45.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,322.000000,13.000000,9.000000,39.000000
75%,16222.500000,207013.000000,NaN,NaN,2017.000000,2.000000,6.000000,90.000000,60.000000,90.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,903.500000,38.000000,29.000000,131.000000
max,21630.000000,350992.000000,NaN,NaN,2023.000000,10.000000,999.000000,60000.000000,60000.000000,60000.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,168364.000000,2508.000000,2011.000000,19325.000000

In [7]:
df_ratings.describe(include='all')

,num,id,name,year,rank,average,bayes_average,users_rated,url,thumbnail
count,21831.000000,21831.000000,21831,21831.000000,21831.000000,21831.000000,21831.000000,21831.000000,21831,21825
unique,NaN,NaN,21432,NaN,NaN,NaN,NaN,NaN,21831,21816
top,NaN,NaN,Robin Hood,NaN,NaN,NaN,NaN,NaN,/boardgame/30549/pandemic,https://cf.geekdo-images.com/zxVVmggfpHJpmnJY9...
freq,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,1,9
mean,10915.000000,118144.784206,NaN,1987.440108,10916.000000,6.416960,5.682149,866.964134,NaN,NaN
std,6302.211199,105369.546237,NaN,193.510505,6302.211199,0.930267,0.364763,3679.821978,NaN,NaN
min,0.000000,1.000000,NaN,0.000000,1.000000,1.040000,0.000000,30.000000,NaN,NaN
25%,5457.500000,12308.500000,NaN,2001.000000,5458.500000,5.830000,5.510000,56.000000,NaN,NaN
50%,10915.000000,104994.000000,NaN,2011.000000,10916.000000,6.450000,5.545000,122.000000,NaN,NaN
75%,16372.500000,207219.000000,NaN,2017.000000,16373.500000,7.040000,5.674000,392.000000,NaN,NaN
max,21830.000000,350992.000000,NaN,3500.000000,21831.000000,9.570000,8.511000,108975.000000,NaN,NaN

In [8]:
df_details.isnull().sum()

num                            0
id                             0
primary                        0
description                    1
yearpublished                  0
minplayers                     0
maxplayers                     0
playingtime                    0
minplaytime                    0
maxplaytime                    0
minage                         0
boardgamecategory            283
boardgamemechanic           1590
boardgamefamily             3761
boardgameexpansion         16125
boardgameimplementation    16769
boardgamedesigner            596
boardgameartist             5907
boardgamepublisher             1
owned                          0
trading                        0
wanting                        0
wishing                        0
dtype: int64

In [9]:
df_ratings.isnull().sum()

num              0
id               0
name             0
year             0
rank             0
average          0
bayes_average    0
users_rated      0
url              0
thumbnail        6
dtype: int64

Transformation des données

In [10]:
df_details['DateSortie'] = pd.to_datetime(df_details['yearpublished'], errors='coerce')

In [11]:
df_details['DuréeMoy'] = pd.to_timedelta(df_details['playingtime'], unit='m', errors='coerce')

In [12]:
df_details['yearpublished'] = pd.to_datetime(df_details['yearpublished'], errors='coerce', format='%Y').dt.date
df_details['playingtime'] = pd.to_timedelta(df_details['playingtime'], unit='m')

Remplacement des valeurs manquantes

In [13]:
df_details['description'].fillna('', inplace=True)
df_details['boardgamecategory'].fillna('Inconnu', inplace=True)
df_details['boardgamemechanic'].fillna('Inconnu', inplace=True)
df_details['boardgamefamily'].fillna('Inconnu', inplace=True)
df_details['boardgameexpansion'].fillna('Inconnu', inplace=True)
df_details['boardgameimplementation'].fillna('Inconnu', inplace=True)
df_details['boardgameartist'].fillna('Inconnu', inplace=True)
df_details['boardgamepublisher'].fillna('Inconnu', inplace=True)
df_details['boardgamedesigner'].fillna('Inconnu', inplace=True)

In [14]:
df_ratings['thumbnail'].fillna('Indisponible', inplace=True)

Fusion des 2 fichiers (dataframes)

In [15]:
df = pd.merge(df_details, df_ratings, on='id', suffixes=('_details', '_ratings'))

Création des fichiers pour remplir la base de données

In [16]:
ages = sorted(df["minage"].dropna().unique())
with open("insert_categorie_age.sql", "w") as f:
    for i, age in enumerate(ages, 1):
        f.write(f"INSERT INTO CategorieAge (IDAge, AgeMin) VALUES ({i}, {age});\n")


genres_set = set()
for genres in df["boardgamecategory"].dropna():
    genres_set.update([g.strip() for g in genres.split(",")])
genres_list = sorted(genres_set)

genre_map = {g: i+1 for i, g in enumerate(genres_list)}
with open("insert_categorie_genre.sql", "w") as f:
    for genre, id_genre in genre_map.items():
        genre_sql = genre.replace("'", "''")  
        f.write(f"INSERT INTO CategorieGenre (IDGenre, NomGenre) VALUES ({id_genre}, '{genre_sql}');\n")



mots_cles_set = set()
for mots in df["boardgamemechanic"].dropna():
    mots_cles_set.update([m.strip() for m in mots.split(",")])
mots_cles_list = sorted(mots_cles_set)

motcle_map = {m: i+1 for i, m in enumerate(mots_cles_list)}
with open("insert_motcle.sql", "w") as f:
    for mot, id_mot in motcle_map.items():
        mot_sql = mot.replace("'", "''") 
        f.write(f"INSERT INTO MotCle (IDMotCle, NomMotCle) VALUES ({id_mot}, '{mot_sql}');\n")




with open("insert_jeu.sql", "w", encoding="utf-8") as f:
    for i, row in df.iterrows():
        id_jeu = row['id']
        nom_jeu = row['name'].replace("'", "''") if pd.notnull(row['name']) else f'Jeu_{id_jeu}'
        image = row['thumbnail'] if pd.notnull(row['thumbnail']) else ''
        description = row['description'].replace("'", "''") if pd.notnull(row['description']) else 'Pas de description'
        nb_min = int(row['minplayers']) if pd.notnull(row['minplayers']) else 1
        nb_max = int(row['maxplayers']) if pd.notnull(row['maxplayers']) else 4
        createur = row['boardgamedesigner'].split(',')[0].strip().replace("'", "''") if pd.notnull(row['boardgamedesigner']) else 'Inconnu'
        date_sortie = row['DateSortie'].strftime('%Y-%m-%d') if pd.notnull(row['DateSortie']) else '2000-01-01'
        duree = str(row['DuréeMoy']).split()[2] if pd.notnull(row['DuréeMoy']) else '00:30:00'
        age = int(row['minage']) if pd.notnull(row['minage']) else 6
        id_age = ages.index(age) + 1 if age in ages else 1

        f.write(
            f"INSERT INTO Jeu (IDJeu, NomJeu, Image, Descriptions, NbJoueursMax, NbJoueursMin, Createur, DateSortie, DureeMoy, IDAge) "
            f"VALUES ({id_jeu}, '{nom_jeu}', '{image}', '{description}', {nb_max}, {nb_min}, '{createur}', '{date_sortie}', '{duree}', {id_age});\n"
        )


with open("insert_appartenir.sql", "w") as f:
    for i, row in df.iterrows():
        id_jeu = row['id']
        if pd.notnull(row['boardgamecategory']):
            for genre in [g.strip() for g in row['boardgamecategory'].split(",")]:
                f.write(f"INSERT INTO Appartenir (IDJeu, IDGenre) VALUES ({id_jeu}, {genre_map[genre]});\n")


with open("insert_associer.sql", "w") as f:
    for i, row in df.iterrows():
        id_jeu = row['id']
        if pd.notnull(row['boardgamemechanic']):
            for mot in [m.strip() for m in row['boardgamemechanic'].split(",")]:
                f.write(f"INSERT INTO Associer (IDJeu, IDMotCle) VALUES ({id_jeu}, {motcle_map[mot]});\n")